
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  color: white;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: cadetblue;
}

.container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.container ul {
  margin: 1rem 0;
  padding: 0 1rem;
  list-style: disc;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
